/* Deafult Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    outline: none;
    font-family: "Mukta", sans-serif;
}

html, body{
    font-size: 62.5%; 
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%; /*page wasn't scrolling so im trying stuff */
    background: linear-gradient(to left, #2193b0, #6dd5ed); /* Gradient */
    color: white; 
    overflow-x: hidden;
}
/* End of Default Styles */

/*Container*/
.container{
    width: 100%;
    height: 100%;
    background: inherit;
}

/*Header*/
header{
    width: 100%;
    height: 100vh; 
    background: inherit;
    position: relative; /* this is the parent element of background so it needs to be relative*/
}

    /* Navigation bar */
    .navbar
    {
        position:fixed;
        top:0;
        left:0;
        z-index:10;
        width:100%;
        height:12rem;
        padding:0 15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* End of Navigation bar*/

    /* Home button */
    .homebutton {
        display: block;
        padding: 1rem 2rem;
        background-color: #180e09;
        color: white;
        font-size: 2rem;
        border-radius: 10px;
        margin-bottom: 2rem; /* Spacing */
        text-align: center;
    }

    .homebutton span:nth-child(1){
    font-family: "Verdana";
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color : white;

    }

    /* End of Home button*/

    /* Nav items */
    .nav-items {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-item {
        list-style: none;
    }

    .nav-link {
        font-size: 2rem;
        text-transform: uppercase;
        color: white;
        text-shadow: 0 .5rem 1rem rgba(238, 5, 5, 0.2);
    }
    /*End of Nav items */

/*Banner*/
.banner{
    position: absolute;
    top: 18%;
    left: 20%;
    z-index: 4;
}

.banner h1 {
    padding: 1rem 2rem;
    border-radius: 10px;
    width: fit-content;
    font-family: "Mooli", cursive;
    font-size: 5rem;
    color: #fff;
    text-shadow: 0 1rem 3rem rgba(0,0,0,0.3);
    margin-bottom: 2rem; /* spacing  */
}

.banner h2 {
    padding: 1rem 2rem;
    border-radius: 10px;
    width: fit-content;
    font-family: "Mooli", cursive;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 1rem 3rem rgba(0,0,0,0.3);
    margin-bottom: 2rem; /* spacing  */
}

.banner p {
    padding: 1rem 2rem;
    font-family: "Mooli", cursive;
    font-size: 2.7rem; /* Adjusting font size */
    font-weight: 250;
    text-transform: uppercase;
    text-align: left; 
    color: #fff;
    text-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
    margin: 0 auto; 
}

.banner ul {
    padding-left: 2rem; 
    list-style-type: disc; 
    font-family: "Mooli", cursive;
    font-size: 2.7rem; 
    font-weight: 250;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
    margin-bottom: 2rem; 
}

.banner li {
    margin-bottom: 1.5rem; 
    line-height: 1.5; 
}

.banner li strong {
    font-size: 3rem; 
    text-shadow: 0 1rem 3rem rgba(0,0,0,0.3); 
}

.banner li a {
    color: #fff; 
    text-decoration: underline; 
}

.banner button{
    width: 15rem;
    height: 5rem;
    background: linear-gradient(to right, #aa3fec, #8430ea);
    border: none;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #fff;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
    margin-left: 1rem;
    cursor:pointer;
    transition: transform 0.3s;
}

.banner button:hover{
    transform: translateY(-0.2rem); 
}
/*End of Banner*/

/*Backgrounds*/
.backgrounds div{ 
    position: absolute;
}

.bg-main{
    width: 100%;
    min-height: 100%; /* page isn't scrolling, im trying stuff */
    background: linear-gradient(to left, #2193b0, #6dd5ed);
    overflow: hidden;
    margin: 0;
    padding: 0;
}
/*End of Backgrounds*/
/*End of Header*/
/* End of Container*/